
<p>More options:</p>

<fieldset>
    <legend>Select a zoom size:</legend>

    <div>
      <input type="radio" id="z1" name="z" value="1"
             checked>
      <label for="z1">1X</label>
    </div>

    <div>
      <input type="radio" id="z2" name="z" value="2">
      <label for="z2">2X</label>
    </div>

    <div>
      <input type="radio" id="z4" name="z" value="4">
      <label for="z4">4X</label>
    </div>

    <div>
      <input type="radio" id="z8" name="z" value="8">
      <label for="z8">8X</label>
    </div>
</fieldset>


<fieldset>
    <legend>Select a background:</legend>

    <div>
      <input type="radio" id="bg1" name="bg" value="none"
             checked>
      <label for="bg1">None (Transparent)</label>
    </div>

    <div>
      <input type="radio" id="bg2" name="bg" value="ukraine">
      <label for="bg2">We Stand With Ukraine</label>
    </div>

    <div>
      <input type="radio" id="bg3" name="bg" value="rainbow">
      <label for="bg3">Pride / Rainbow</label>
    </div>
</fieldset>

