

<h1>Profile Pic(ture) As Service</h1>

<p>Yes, you can!
Generate your own originals that you
own 100% forever.
</p>



<form action="/generate" method="get" id="form1">

<fieldset>
    <legend>Select an image generator:</legend>

    <div>
      <input type="radio" id="t1" name="t" value="punk"
             checked>
      <label for="t1">Punk (24×24)</label>
    </div>

    <div>
      <input type="radio" id="t2" name="t" value="phunk">
      <label for="t2">Phunk (24×24)</label>
    </div>

    <div>
      <input type="radio" id="t3" name="t" value="marilyn">
      <label for="t3">Marilyn (24×24)</label>
    </div>

    <div>
      <input type="radio" id="t4" name="t" value="marc">
      <label for="t4">Marc (24×24)</label>
        ... or try the <b><a href="/marcs">Design Your Own Marc Wizard »</a></b>
    </div>

    <div>
      <input type="radio" id="t5" name="t" value="saudi">
      <label for="t5">Saudi Sheik (24×24)</label>
    </div>

    <div>
    <input type="radio" id="t6" name="t" value="yeoldepunk">
    <label for="t6">Matt &amp; John's® Ye Olde' Punk V1/V2 (Anno 2017) (24×24)</label>
  </div>
</fieldset>


<fieldset>
    <legend>Type attribute description / specification:</legend>

<div>
<input type="text" id="attributes" name="attributes"
       minlength="0" maxlength="200" size="80"
       style="font-size: 200%;"
       placeholder="Attribute 1, Attribute 2, Attribute 3, ...">

<p>
  Examples:
</p>
  <ul>
    <li>Female 2,  Wild Blonde,  Earring, Mole,  Big Shades</li>
    <li>Zombie, Crazy Hair, 3D Glasses</li>
    <li>Alien, Headband</li>
  </ul>

</div>
   </fieldset>

<div>
   <button type="submit" form="form1" value="Submit"
      style="font-size: 400%; color: white; background-color: blue;">Generate Profile Pic(ture) in .PNG Format</button>
</div>


<%= erb :'shared/_more_options' %>

</form>
