<p style="font-size: 80%;">
    <a href="/">« Profile Pic(ture) As A Service</a>
</p>


<h1>Design Your Own Marc (24×24) Wizard</h1>

<p>Yes, you can!
Generate your own originals that you
own 100% forever.
</p>



<form action="/generate_marcs" method="get">

<%= render_options( MARC ) %>

<div>
   <button type="submit" value="submit"
        class="bigblue">Generate Profile Pic(ture) in .PNG Format</button>
</div>

</form>




<script>
var sheet = Spritesheet.read( 'marcs-24x24.png',
`<%= spritesheet( 'marcs-24x24.csv' ) %>` );
sheet.draw();
</script>
